@import url(https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css);
body {
    /* background-image: 'src/assets/bg-01.jpg'; */
    background: rgb(241, 243, 245);
    font-family: 'Open Sans', sans-serif ;
   
}
h2{
    color:white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
 }

